<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.malicelik.yazlabproject">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YazLabProject">
        <activity
            android:name=".basvuruDevam"
            android:exported="false" />
        <activity
            android:name=".basvuruDevamActivity"
            android:exported="false" />
        <activity
            android:name=".formlarActivity"
            android:exported="false" />
        <activity
            android:name=".DersintibakiList"
            android:exported="false" />
        <activity
            android:name=".CapList"
            android:exported="false" />
        <activity
            android:name=".DgsList"
            android:exported="false" />
        <activity
            android:name=".YatayGecicList"
            android:exported="false" />
        <activity
            android:name=".YazOkuluList"
            android:exported="false" />
        <activity
            android:name=".raporlarActivity"
            android:exported="false" />
        <activity
            android:name=".PdfUploadActivity"
            android:exported="false" />
        <activity
            android:name=".Dersintibaki"
            android:exported="false" />
        <activity
            android:name=".Cap"
            android:exported="false" />
        <activity
            android:name=".Dgs"
            android:exported="false" />
        <activity
            android:name=".YatayGecic"
            android:exported="false" />
        <activity
            android:name=".YazOkulu"
            android:exported="false" />
        <activity
            android:name=".basvurlarActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ImageUploadActivity"
            android:exported="false" />
        <activity
            android:name=".PsifirlaActivity"
            android:exported="false" />
        <activity
            android:name=".UyeActivity"
            android:exported="false" />
        <activity
            android:name=".AnaEkran"
            android:exported="false" />
        <activity
            android:name=".GirisActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>